// Color

$cl-black5: #192430;
$cl-black4:	#2f3e4c;
$cl-black3:#3d4c5a;
$cl-black2:#3d4c5a;
$cl-black1:#505f6c;
$cl-white:#fff;
$cl-offWhite: #F2F2F2;
$cl-green:#5CD85A;
$cl-alabaster: 	#DADDDB;

// FontSize: 
$fsize-xl: 1.8rem;
$fsize-lg: 1.5rem;
$fsize-sm: 1.2rem;
$fsize-standard:1rem;
$fsize-xsm:0.8rem;
